body{
    background-color: rgb(140, 84, 10);
    display: flex;
    justify-content:center;
    margin-top:5%;
    margin-bottom:5%;
}
.conteiner{
    padding: 40px;
    width: 250px;
    background-color: rgb(153, 97, 23);
    border: 2px solid black;
}

h1{
    margin-left: 25%;
    margin-right: 25%;
}

p{
    padding: 5%;
    border: 1px solid black;
    border-radius: 3px;
}
